@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root{
    --bk: #2e2d2d;
    --fm: #FFFFFF;
}
*{
    font-family: 'Open Sans',sans-serif;
}
body{
    background-color: var(--bk);
}